{% extends 'layout/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block scripts %}
    <!-- baidu echarts tag -->
    <script src="{% static 'echarts-en.min.js' %}"></script>
    <script src="{% static 'main-chart.js' %}"></script>
{% endblock %}
{% block content %}
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
        <a class="navbar-brand" href="/logout/">Logout</a>
    </nav>
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h3 class="font-weight-light">Download Csv Template : 
                        <a href="{% static 'csv/upload.csv' %}" download>
                        Download
                    </a> </h3>
                    <h1 class="font-weight-light">Upload</h1>
                    <br>
                    <div class="row justify-content-center">
                        <form method="post" action="/upload_file/" enctype=multipart/form-data>
                            <div class="card" style="width: 18rem; background: border-box;">
                                <div class="card-body">
                                    {% csrf_token %}
                                    {{ the_form |crispy }}
                                </div>
                            </div>
                            <br>
                            <button class="col-md-4 btn btn-outline-success" type="submit">Upload</button>
                        </form>
                    </div>
                    <p class="lead">Total Spending : <span id="total"></span></p>
                </div>
            </div>
        </div>
    </header>
    <br>
    <div class="row justify-content-center">
        <div id="main" class="col-md-8" style="height:400px"></div>
    </div>
    <style>
        .table-bordered td,
        .table-bordered th {
            border-color: grey !important;
        }

    </style>
    <br>
    <div class="container col-md-8 centered d-flex">
        <table class="table table-light table-sm table-bordered table-hover col-md-12">
            <thead>
                <tr>
                    <th scope="col">costId</th>
                    <th scope="col">amount</th>
                    <th scope="col">description</th>
                    <th scope="col">purchase_date</th>
                    <th scope="col">User</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for cost in the_data %}
                <tr>
                    <th scope="row"> {{ cost.costId }}</th>
                    <td>$ <span name="cost_amount">{{ cost.amount }}</span></td>
                    <td> {{ cost.description }}</td>
                    <td name="cost_date"> {{ cost.purchase_date | date:'d-m-Y' }}</td>
                    <td> {{ cost.user }}</td>
                    <td> <a href="{% url 'delete_cost' cost.costId %}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}