<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A simple application to track and output costs in a chart">
    <meta name="keywords" content="cost,tracker,analysis,chart,heroku">
    <meta name="author" content="Souless94">
    {% load static %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!-- baidu echarts tag -->
    <script src="{% static 'echarts-en.min.js' %}"></script>
    <script src="{% static 'main-chart.js' %}"></script>

    <!-- styling -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Cost analyzer</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
        <a class="navbar-brand" href="/logout/">Logout</a>
    </nav>
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="font-weight-light">Upload</h1>
                    <div class="row justify-content-center">
                        {% load crispy_forms_tags %}
                        <form method="post" action="/upload_file/" enctype=multipart/form-data>
                            {% csrf_token %}
                            {{ the_form |crispy }}
                            <br>
                            <button class="col-md-4 btn btn-outline-success" type="submit">Upload</button>
                        </form>
                    </div>
                    <p class="lead">Total Spending : <span id="total"></span></p>
                </div>
            </div>
        </div>
    </header>
    <br>
    <div class="row justify-content-center">
        <div id="main" class="col-md-8" style="height:400px"></div>
    </div>
    <style>
        .table-bordered td,
        .table-bordered th {
            border-color: grey !important;
        }

    </style>
    <br>
    <div class="container col-md-8 centered d-flex">
        <table class="table table-light table-sm table-bordered table-hover col-md-12">
            <thead>
                <tr>
                    <th scope="col">costId</th>
                    <th scope="col">amount</th>
                    <th scope="col">description</th>
                    <th scope="col">purchase_date</th>
                    <th scope="col">User</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for cost in the_data %}
                <tr>
                    <th scope="row"> {{ cost.costId }}</th>
                    <td>$ <span name="cost_amount">{{ cost.amount }}</span></td>
                    <td> {{ cost.description }}</td>
                    <td name="cost_date"> {{ cost.purchase_date | date:'d-m-Y' }}</td>
                    <td> {{ cost.user }}</td>
                    <td> <a href="{% url 'delete_cost' cost.costId %}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>
